doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gorila - Socket.IO
    link(rel="stylesheet", href="/styles.css")
    script(src="/socket.io/socket.io.js") 
  body
    ul#messages
    form#form(action="")
      input#input(autocomplete="off")
      button Enviar 
    script(src="/app.js") 